@import '../../../../../vars.scss';

.marketNameContainer {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;

  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  input {
    border: 1px solid $watchlist-border;
    padding: 2px;
  }

  .edit {
    margin-right: 10px;

    img {
      width: 15px;
      height: 15px;
    }
  }

  .__react_component_tooltip {
    padding: 4px 10px;
  }
}
