$watchlist-border: #9696a3;
$watchlist-background: #f5f6f7;
$buy: #34bde5;
$buy-border: #2098bd;
$sell: #ff413f;
$sell-border: #cc3e3b;
$positions-indicator: #D0D0D0;
$positions-indicator-text: #1A51B2;
